@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 100vh;
    
  }
  
  h1 {
    color: #fff;
    padding: 10px;
    font-weight: 700;
  }
  
  .box {
    max-width: 500px;
    margin: 50px auto 0px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #heading {
    background-color: #A683E3;
    text-align: center;
    font-size: 0.8rem;
    line-height: 2.5rem;
  }

  #heading:hover {
    background-color: #8705a7;
    transition: 0.5s;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #F1F1F1;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
  }
  
  input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0 0 0 20px;
    width: 1.5em;
    height: 1.5em;
    border: 0.1em solid rgb(63, 61, 61);
    border-radius: 0.15em;
    display: grid;
    place-content: center;
    cursor: pointer;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #A683E3;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  p {
    margin: 0;
    padding: 20px;
    color: #00204a;
    font-size: 18px;
    flex-grow: 2;
    font-weight: 400;
    overflow-wrap: break-word;
    max-width: 380px;
  }
  
  form {
    text-align: center;
    margin-right: 20px;
  }
  
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #A683E3;
    color: #fff;
    font-size: 30px;
    border-width: 0;
    /* padding-bottom: 5px; */
  }
  button:hover {
    cursor: pointer;
    background-color: #8705a7;
    transition: 0.5s;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    background: transparent;
    flex-grow: 3;
    margin: 0 40px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
    transition: 0.5s;
  }
  
  ::placeholder {
    color: rgb(210, 209, 209);
    opacity: 1;
  }

  input:focus::placeholder {
    color: transparent;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  