<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/59d53f0de5.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="box" id="heading">
        <h1><%= day %></h1>
    </div>

    <div class="box">
        <%for(let i = 0; i < listItems.length; i++) {%>
            <div class="item">
                <input type="checkbox">
                <p><%= listItems[i].item %></p>
                <form action="/" method="POST">
                    <button type="submit" name="delete" value= <%= listItems[i]._id %>><i class="fa-regular fa-trash-can fa-xs"></i></button>
                </form>
            </div>     
        <%}%>

        <form class="item" action="/" method="POST">
            <input class="input" type="text" name="listItem" placeholder="New task" autocomplete="off">
            <button type="submit"><i class="fa-solid fa-plus fa-beat fa-xs"></i></button>
        </form>
    </div>

    
</body>
</html>